script(src="http://savetodrive.me/jquery/dist/jquery.min.js")
script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
script(src="http://savetodrive.me/vue/dist/vue.min.js")
script(src="http://savetodrive.me/vue-router/dist/vue-router.min.js")
script(src="http://savetodrive.me/vue-resource/dist/vue-resource.min.js")
script(src="http://savetodrive.me/underscore/underscore-min.js")
script(src="http://savetodrive.me/toastr/toastr.min.js")
script(src="javascripts/pace.min.js")
script(src="javascripts/toast.min.js")
script(src="javascripts/app.js")
