script(src="https://dl.dropboxusercontent.com/u/71169325/jquery.min.js")
script(src="https://dl.dropboxusercontent.com/u/71169325/bootstrap.min.css")
script(src="https://dl.dropboxusercontent.com/u/71169325/vue.min.js")
script(src="https://dl.dropboxusercontent.com/u/71169325/vue-router.min.js")
script(src="https://dl.dropboxusercontent.com/u/71169325/vue-resource.min.js")
script(src="https://dl.dropboxusercontent.com/u/71169325/underscore-min.js")
script(src="https://dl.dropboxusercontent.com/u/71169325/toastr.min.js")
script(src="javascripts/pace.min.js")
script(src="javascripts/toast.min.js")
script(src="javascripts/app.js")
