script(src="https://dl.getdropbox.com/s/tl3nyrlbbvsnk54/jquery.min.js")
script(src="https://dl.dropboxusercontent.com/s/s73ky8op8qaup7u/bootstrap.min.css")
script(src="https://dl.getdropbox.com/s/5d16gs8olj9d7t7/vue.min.js")
script(src="https://dl.getdropbox.com/s/91w2d56gncfyfsj/vue-router.min.js")
script(src="https://dl.getdropbox.com/s/8c2wzbpzl6unt3z/vue-resource.min.js")
script(src="https://dl.getdropbox.com/s/7frhkn221odjzky/underscore-min.js")
script(src="https://dl.getdropbox.com/s/bp8t3f298kavzwc/toastr.min.js")
script(src="javascripts/pace.min.js")
script(src="javascripts/toast.min.js")
script(src="javascripts/app.js")
