script(src="https://res.cloudinary.com/dhci54mir/raw/upload/v1473173204/jquery.min.js")
script(src="https://res.cloudinary.com/dhci54mir/raw/upload/v1473173214/bootstrap.min.css")
script(src="https://res.cloudinary.com/dhci54mir/raw/upload/v1473173206/vue.min.js")
script(src="https://res.cloudinary.com/dhci54mir/raw/upload/v1473173200/vue-router.min.js")
script(src="https://res.cloudinary.com/dhci54mir/raw/upload/v1473173199/vue-resource.min.js")
script(src="https://res.cloudinary.com/dhci54mir/raw/upload/v1473173206/underscore-min.js")
script(src="https://res.cloudinary.com/dhci54mir/raw/upload/v1473173200/toastr.min.js")
script(src="javascripts/pace.min.js")
script(src="javascripts/toast.min.js")
script(src="javascripts/app.js")
