doctype html
html
	head
		title= title
		link(rel="stylesheet" href="https://res.cloudinary.com/dhci54mir/raw/upload/v1473173214/bootstrap.min.css")
		link(rel="stylesheet" href="https://res.cloudinary.com/dhci54mir/raw/upload/v1473173199/toastr.min.css")
		link(rel="stylesheet" href="/stylesheets/style.css")
		script(src="/socket.io/socket.io.js")
	body
		.container
			block content
			include footer
