doctype html
html
	head
		title= title
		link(rel="stylesheet" href="https://dl.dropboxusercontent.com/s/s73ky8op8qaup7u/bootstrap.min.css")
		link(rel="stylesheet" href="https://dl.getdropbox.com/s/9t597bzkcz1t0hl/toastr.min.css")
		link(rel="stylesheet" href="/stylesheets/style.css")
		script(src="/socket.io/socket.io.js")
	body
		.container
			block content
			include footer
