doctype html
html
	head
		title= title
		link(rel="stylesheet" href="https://dl.dropboxusercontent.com/u/71169325/bootstrap.min.css")
		link(rel="stylesheet" href="https://dl.dropboxusercontent.com/u/71169325/toastr.min.css")
		link(rel="stylesheet" href="/stylesheets/style.css")
		script(src="/socket.io/socket.io.js")
	body
		.container
			block content
			include footer
